<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
	  <listener class-name="petstore.utilities.ExtentReportManager"></listener>
  </listeners>
  <test thread-count="5" name="User Module Test">
    <classes>
      <class name="petstore.tests.UserModuleTests"/>
    </classes>
  </test>
  <test thread-count="5" name="Store Module Test">
    <classes>
      <class name="petstore.tests.StoreModuleTests"/>
    </classes>
  </test>
  <test thread-count="5" name="Pet Module Test">
    <classes>
      <class name="petstore.tests.PetModuleTests"/>
    </classes>
  </test>  
</suite> 
